@model List<BeautySaloon.ViewModel.WorkerViewModel>

@{
Layout = null;
}
<html lang="ru">
    @Html.Partial("_AdminHeadPartial")

@Html.Partial("_HeaderPartial")

<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-right mb-3">
            <a href="@Url.Action("Add", "AdminUser")" class="btn btn-primary">Добавить расписание</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Мастер</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var worker in Model)
        {
        <tr>
            <td>@worker.Id</td>
            <td>@worker.SecondName @worker.FirstName @worker.LastName</td>
            <td>
                <form action="@Url.Action("SetUpSchedule", "AdminSchedule")" method="post">
                    <input type="hidden" name="workerId" value="@worker.Id" />
                    <button type="submit" class="btn btn-danger">Настроить расписание</button>
                </form>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>
