@model BeautySaloon.ViewModel.ServiceViewModel

@{
Layout = null;
}
<html lang="ru">

@await Html.PartialAsync("Admin/_AdminHeadPartial")

@await Html.PartialAsync("Admin/_AdminHeaderPartial")

<body>
<div class="container mt-5">
    <form id="addService" method="post" action=@Url.Action("Add", "AdminService") enctype="multipart/form-data" class="bordered-form">
        <h2>Добавление услуги</h2>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="row mb-3">
            <div class="col-12">
                <label for="Name" class="form-label">Название</label>
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="Description" class="form-label">Описание</label>
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="Price" class="form-label">Цена</label>
                <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="Duration" class="form-label">Продолжительность сеанса (в минутах)</label>
                <input type="text" class="form-control" id="Duration" name="Duration" value="@Model.Duration">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="ImageSrc" class="form-label">Загрузить изображение</label>
                <input type="file" class="form-control" id="ImageSrc" name="ImageSrc">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <label for="CategoryId" class="form-label">Категория</label>
                <select class="form-control" id="CategoryId" name="CategoryId">
                    @foreach (var category in Model.Categories)
                    {
                    <option value=@category.Id
                            selected="@(category.Id == Model.CategoryId ? "selected" : null)">
                        @category.Name
                    </option>
                    }
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-submit">Сохранить</button>
    </form>
</div>
</body>
</html>
