@model List<BeautySaloon.ViewModel.ServiceViewModel>

@{
    Layout = null;
}
<html lang="ru">
<head>
    @Html.Partial("_AdminHeadPartial")
</head>

@Html.Partial("_HeaderPartial")

<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-right mb-3">
            <a href="@Url.Action("Add", "AdminService")" class="btn btn-primary">Добавить услугу</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Цена</th>
            <th scope="col">Категория</th>
            <th scope="col">Изображение</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <th scope="row">@service.Id</th>
                <td>@service.Name</td>
                <td>@service.Description</td>
                <td>@service.Price.ToString("F1")</td>
                <td>@service.Category</td>
                <td><img src="@service.ImageSrc" alt="@service.Name" width="100"/></td>
                <td>
                    <button class="btn btn-primary"
                            onclick="location.href='@Url.Action("Update", "AdminService", new {id = service.Id})'">
                        Редактировать
                    </button>
                    <button class="btn btn-danger"
                            onclick="deleteService('@service.Id')">
                        Удалить
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>

<script>
    async function deleteService(id) {
        if (confirm('Вы уверены, что хотите удалить услугу?')) {
            const response = await fetch('@Url.Action("Delete", "AdminService")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(id)
            });

            if (response.ok) {
                location.reload();
            } else {
                alert('Ошибка при удалении услуги.');
            }
        }
    }
</script>