@model BeautySaloon.ViewModel.ServiceViewModel

@{
Layout = null;
}
<html lang="ru">

@Html.Partial("_AdminHeadPartial")

@Html.Partial("_HeaderPartial")

<body>
<div class="container mt-5">
    <h2>Редактирование услуги</h2>
    <form id="addOrUpdateService" method="post" enctype="multipart/form-data" action=@Url.Action("Update","AdminService")>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" readonly="" value="@Model.Id">
        </div>
        <div class="form-group">
            <label for="Name">Название</label>
            <input type="text" class="form-control" id="Name" name="Name" required value="@Model.Name">
        </div>
        <div class="form-group">
            <label for="Description">Описание</label>
            <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
        </div>
        <div class="form-group">
            <label for="Price">Цена</label>
            <input type="text" class="form-control" id="Price" name="Price" required value="@Model.Price.ToString("F1")">
        </div>
        <div class="form-group">
            <img src="@Model.ImageSrc" alt="@Model.ImageSrc" width="100"/>
            <br>
            <label for="ImageSrc">Загрузить изображение</label>
            <input type="file" class="form-control-file" id="ImageSrc" name="ImageSrc">
            <input type="hidden" name="CurrentImageSrc" value="@Model.ImageSrc" />
        </div>
        <div class="form-group">
            <label for="CategoryId">Категория</label>
            <select class="form-control" id="CategoryId" name="CategoryId">
                @foreach (var category in Model.Categories)
                {
                <option value=@category.Id
                        selected="@(category.Id == Model.CategoryId ? "selected" : null)">
                    @category.Name
                </option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>
