@model BeautySaloon.ViewModel.CategoryViewModel

@{
    Layout = null;
}
<html lang="ru">

@await Html.PartialAsync("Admin/_AdminHeadPartial")

@await Html.PartialAsync("Admin/_AdminHeaderPartial")

<body>
<div class="container mt-5">
    <form id="updateCategory" method="post" action=@Url.Action("Update", "AdminCategory") enctype="multipart/form-data" class="bordered-form">
        <h2>Обновление категории</h2>
        <input type="hidden" name="Id" value="@Model.Id"/>
        <div class="row mb-3">
            <div class="col-12">
                <label for="Name" class="form-label">Название</label>
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <img src="@Model.ImgSrc" alt="@Model.ImgSrc" width="100"/>
                <br>
                <label for="ImgSrc" class="form-label">Загрузить изображение</label>
                <input type="file" class="form-control" id="ImgSrc" name="ImgSrc">
                <input type="hidden" name="CurrentImageSrc" value="@Model.ImgSrc" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-submit">Сохранить</button>
    </form>
</div>
</body>
</html>