@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BeautySaloon.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login page";
}

@{
    Layout = null;
}

<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - BeautySaloon</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true"/>
</head>

<body>

<div class="wrapper">
    <h2>Авторизация</h2>
    <form action="@Url.Action("Login", "Account")" method="post">
        @Html.AntiForgeryToken()
        <div class="input-box">
            <input type="text" placeholder="Введите ваш email" name="Email"/>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="input-box">
            <input type="password" placeholder="Введите ваш пароль" name="Password"/>
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="input-box button">
            <input type="submit" value="Войти"/>
        </div>
        <div class="text">
            <h3>Нет аккаунта ? <a href="@Url.Action("Register", "Account")">Зарегистрироваться</a></h3>
        </div>
    </form>
    
</div>

</body>