@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BeautySaloon.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register page";
}

@{
    Layout = null;
}

<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - BeautySaloon</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true"/>
</head>

<body>

<div class="wrapper">
    <h2>Регистрация</h2>
    <form method="post" action="@Url.Action("Register", "Account")">
        <div class="text warning">
            <h3>* - обязательные поля</h3>
        </div>
        <div class="input-box">
            <input asp-for="FirstName" type="text" placeholder="Имя*" />
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="input-box">
            <input asp-for="SecondName" type="text" placeholder="Фамилия*" />
            @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
        </div>
        <div class="input-box">
            <input asp-for="LastName" type="text" placeholder="Отчество" />
        </div>
        <div class="input-box">
            <input asp-for="Email" type="text" placeholder="email@mail.ru*" />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="input-box">
            <input asp-for="PhoneNumber" type="text" placeholder="+7-999-999-99-99" />
        </div>
        <div class="input-box">
            <input asp-for="Password" type="password" placeholder="Пароль*" />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="input-box">
            <input asp-for="ConfirmPassword" type="password" placeholder="Повторите пароль*" />
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="policy">
            <input asp-for="AgreeToTerms" type="checkbox" />
            <h3>Я даю согласие на обработку персональных данных</h3>
        </div>
        <div class="input-box button">
            <input type="submit" value="Зарегистрироваться" />
        </div>
        <div class="text">
            <h3>Уже есть аккаунт ? <a href="@Url.Action("Login", "Account")">Войти</a></h3>
        </div>

        <div class="text-danger">
            @Html.ValidationSummary(true)
        </div>
    </form>
</div>

</body>
</html>
