@model List<BeautySaloon.ViewModel.UserViewModel>

@{
Layout = null;
}
<html lang="ru">

@await Html.PartialAsync("Admin/_AdminHeadPartial")

@await Html.PartialAsync("Admin/_AdminHeaderPartial")

<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-right mb-3">
            <a href="@Url.Action("Add", "AdminUser")" class="btn btn-primary">Создать пользователя</a>
        </div>
    </div>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Имя</th>
            <th scope="col" class="text-center">Фамилия</th>
            <th scope="col" class="text-center">Отчество</th>
            <th scope="col" class="text-center">Почта</th>
            <th scope="col" class="text-center">Телефон</th>
            <th scope="col" class="text-center">Роль</th>
            <th scope="col" class="text-center" style="width: 150px;">Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td class="text-center">@user.Id</td>
            <td class="text-center">@user.FirstName</td>
            <td class="text-center">@user.SecondName</td>
            <td class="text-center">@user.LastName</td>
            <td class="text-center">
                <div class="description" title="@user.Email">
                    @user.Email.Substring(0, Math.Min(20, user.Email.Length))
                    @(user.Email.Length > 20 ? "..." : "")
                </div>
            </td>
            <td class="text-center">@user.PhoneNumber</td>
            <td class="text-center">@user.SelectedRole</td>
            <td class="text-center">
                <div class="d-flex flex-column">
                    <button class="btn btn-primary mb-2 btn-custom" onclick="location.href='@Url.Action("UpdateUser", "AdminUser", new {id = user.Id})'">Редактировать</button>
                    <button class="btn btn-danger btn-custom" onclick="deleteUser('@user.Id')">Удалить</button>
                </div>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
</body>

<script>
    async function deleteUser(id) {
        if (confirm('Вы уверены, что хотите удалить этого пользователя?')) {
            const response = await fetch('@Url.Action("Delete", "AdminUser")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id })
            });

            if (response.ok) {
                location.reload();
            } else {
                alert('Ошибка при удалении пользователя.');
            }
        }
    }
</script>
</html>
