@model BeautySaloon.ViewModel.UserViewModel

@{
    Layout = null;
}
<html lang="ru">

@Html.Partial("_AdminHeadPartial")

@Html.Partial("_HeaderPartial")

<body>
<div class="container mt-5">
    <h2>Редактирование пользователя</h2>
    <form id="editUserForm" method="post" action=@Url.Action("UpdateUser","AdminUser")>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" readonly value="@Model.Id">
        </div>
        <div class="form-group">
            <label for="FirstName">Имя</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" required value="@Model.FirstName">
        </div>
        <div class="form-group">
            <label for="SecondName">Фамилия</label>
            <input type="text" class="form-control" id="SecondName" name="SecondName" required value="@Model.SecondName">
        </div>
        <div class="form-group">
            <label for="LastName">Отчество</label>
            <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName">
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" required value="@Model.Email">
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Телефон</label>
            <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber">
        </div>
        <div class="form-group">
            <label for="SelectedRole">Роль</label>
            <select id ="SelectedRole" class="form-control" 
                    asp-for="SelectedRole" 
                    asp-items="@(new SelectList(Model.Roles, "Name", "Name"))"></select>
            @Html.ValidationMessageFor(model => model.SelectedRole)
        </div>
        <input type="hidden" name="Password" value="@Model.Password" />
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>